input[type=checkbox]:checked + p.strikethrough{
    text-decoration: line-through;
    opacity: 0.5;
  }

  body {
    background: linear-gradient(65deg, #ff8a00 50%, #3490dc 50%);
    background-size: 100% 200%;
    /* animation: gradientAnimation 3s infinite alternate; */
}

/* @keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
} */

@keyframes submitButton {
    to {
        transform: rotate(90deg);
    }
}

#spinIcon {
    transition: transform 0.5s ease-in-out;
}

#submitButton:active #spinIcon {
    transform: rotate(360deg);
    animation: spin 1s linear infinite;
}